.banner img{
    margin-left: 170px;
    width: 1000px;
    height: 350px;
    position: absolute;
    z-index: -1;
}

.about{margin-top: 340px;
    margin-left: 250px;
    font-family: Poppins, Sans-serif;
    position: absolute;
}

.about h1{
    margin-left: 400px;
    margin-top: -20px;
    font-size: 50px;
    color: black;
}

.about_me{
    margin-left: 50px;
    width: 900px;
    height: 200px;
    background-color: white;
    display: flex;
    box-shadow: 4px 2px 4px #000000;
}

.about_me img{
   margin-top: 50px;
    width: 450px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 4px 4px 4px #000000;
}

.content{
    padding-left: 40px;
    padding-top: 30px;
}

.content h5 {
    color:cadetblue;
}

.content p{
    padding-top: 10px;
}