/* Dimensions: Mobile */
.all-in-banner{
    width: 100%;
    position:absolute;
}

.banner {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
}

.bg {
    display: none;
}

.profile-img{
    margin-left: 33%;
    background: white;
    border-radius: 100%;
    width: 100px;
    height: 95px;
    align-items: center;
    text-align: center;
    border: 10px solid rgb(2,0,36);
    position: relative;
}

.profile-wrapper{
    margin-top: 90px;
    margin-left: 5%;
    width: 90%;
    height: 300px;
    position:absolute;
    background: #aec0d1;
}

.profile{
    padding-top: 30px;
}

.profile h1{
    margin-left: 20%;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 200px;
}

.profile p{
    margin-left: 5px;
    margin-bottom: 15px;
    margin-right: 5px;
    font-size: 15px;
    text-align: center;
}

/* Dimensions: Mobile on Rotate */
@media only screen and (min-width: 635px){
    .profile-img{
        margin-top: 0%;
        margin-left: 5%;
        width: 100px;
        height: 95px;
    }

    .profile-wrapper{
        margin-top: 0px;
        margin-left: 16%;
        width: 75%;
        height: 250px;
    }

    .profile h1{
        margin-top: 0px;
        margin-left: 15%;
        font-size: 20px;
        text-align: left;
        padding-bottom: 5px;
        width: 200px;
    }

    .profile p{
        margin-left: 15%;
        margin-right: 8%;
        font-size: 15px;
       margin-bottom: 10px;
       text-align: left;
    }

}

/* Dimensions: Tablet */
@media only screen and (min-width: 768px){
    .all-in-banner{
        width: 100%;
    }

    .profile-img{
        margin-top: 0%;
        margin-left: 5%;
        width: 150px;
        height: 145px;
    }

    .profile-wrapper{
        margin-top: 0px;
        margin-left: 16%;
        width: 75%;
        height: 450px;
    }

    .profile h1{
        margin-left: 15%;
        font-size: 30px;
        text-align: left;
        padding-bottom: 10px;
        width: 300px;
    }
    
    .profile p{
        margin-left: 15%;
        margin-right: 8%;
        font-size: 25px;
       margin-bottom: 10px;
       text-align: left;
    }
}

/* Dimensions: Window */
@media only screen and (min-width: 1000px){
    .all-in-banner{
        width: 100%;
    }

    .bg {
        width: 1348px; 
        height: 400px;
        display:block;
        position: absolute;
    }

    .profile-img{
        margin-top: 2%;
        margin-left: 5%;
        background: white;
        border-radius: 100%;
        width: 350px;
        height: 345px;
        border: 10px solid rgb(2,0,36);
        position: relative;
    }

    .profile-wrapper{
        margin-top: 25%;
        margin-left: 10%;
        margin-right: 15%;
        width: 80%;
        position:absolute;
        background: #aec0d1;
    }

    .profile h1{
        margin-left: 40%;
        font-size: 25px;
        text-align: center;
        padding-top: 5px;
        width: 250px;
    }

    .profile p{
        margin-top: 15px;
        margin-left: 24%;
        width: 600px;
        font-size: 20px;
        padding-bottom: 15px;
        text-align: center;
    }
}