@media (min-width: 1280px){
  *{
  margin: 0px;
  font-family: Slabo, Roboto, Raleway, Sans-serif, Audiowide, Sofia, Trirong, Tangerine, serif;
  font-style: normal;
  text-decoration: none;
  display: inline;
}
.bg{
  background: url(bg01.jpg);
  width: 100%;
  background-repeat: no-repeat;
  height: 630px;
  position: absolute;
}
}

@media only screen and (min-width: 414px) and (max-width: 768px) {
  *{
    margin: 0px;
    font-family: 'Slabo', Roboto, Raleway, Sans-serif;
    font-style: normal;
    text-decoration: none;
  }

  .bg{
    margin: 0px;
    background-image: url(Banner.jpg);
    background-repeat: no-repeat;
    background-size: 260px;
    position: absolute;
    height: 100px;
  }
}
