@import url('https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong|Tangerine|Slabo|Roboto|Raleway|Sans-serif|serif|eurostile');

*{
    margin: 0px;
    padding: 0;
    font-family: eurostile, Sans-serif;
    font-style: normal;
    text-decoration: none;
}

body {
    background: rgb(2,0,36);
}