.header{
    width: 100%;
    height: 90px;
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img{
    margin-left: 30px;
    margin-top: 15px;
    width: 25%;
    height: 70%;
}

.social-handles{
    margin-right: 30px;
    margin-top: 10px;
    align-items: baseline;
}

.icon-facebook{
  display: inline;
  margin-left: 45%;
}

.icon-github{
  display: inline;
  margin-left: 3%;
  font-size: 12px;
}

.icon-gitlab{
  display: inline;
  margin-left: 5%;
  font-size: 13px;
}

.icon-youtube {
  display: inline;
  font-size: 10px;
}

.social-handles .icon{
    position: relative;
    background-color: #ffffff;
    border: 2px solid rgb(2,0,36);
    border-radius: 50%;
    margin: 2px;
    width: 40px;
    height: 40px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.459);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #333;
    text-decoration: none;
    line-height: 25px;
  }

  .social-handles .tooltip {
    position: absolute;
    top: 0;
    line-height: 1.5;
    font-size: 14px;
    background-color: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

.social-handles .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

.social-handles .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

.social-handles .icon:hover span,
.social-handles .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }

.social-handles .facebook:hover,
.social-handles .facebook:hover .tooltip,
.social-handles .facebook:hover .tooltip::before {
    background-color: #3b5999;
    color: #ffffff;
  }

  .social-handles .github:hover,
  .social-handles .github:hover .tooltip,
  .social-handles .github:hover .tooltip::before {
    background-color: #333333;
    color: #ffffff;
  }

  .social-handles .gitlab:hover,
  .social-handles .gitlab:hover .tooltip,
  .social-handles .gitlab:hover .tooltip::before {
    background-color: #fca326;
    color: #ffffff;
  }

  .social-handles .youtube:hover,
  .social-handles .youtube:hover .tooltip,
  .social-handles .youtube:hover .tooltip::before {
    background-color: red;
    color: #ffffff;
  }

  /* Dimensions: Mobile */
@media only screen and (min-width: 320px){
  .header{
    width: 100%;
    height: 70px;
}

.header img{
  margin-left: 30px;
  margin-top: 15px;
  width: 25%;
  height: 70%;
}

.social-handles .icon{
  width: 29px;
  height: 29px;
}

.icon-facebook{
  margin-left: 45%;
  
  display: inline;
}

.icon-github{
  display: inline;
  margin-left: 3%;
  font-size: 9px;
}

.icon-gitlab{
  display: inline;
  margin-left: 5%;
  font-size: 10px;
}

.icon-youtube {
  display: inline;
  font-size:6.8px;
}
}

/* Dimensions: OPPO A57 */
@media only screen and (min-width: 356px){
  .header img{
    margin-left: 30px;
    margin-top: 15px;
    width: 25%;
    height: 55%;
  }
}

/* Dimensions: OPPO A57 on Rotate */
@media only screen and (min-width: 356px){
  .header img{
    margin-left: 30px;
    margin-top: 15px;
    width: 15%;
    height: 55%;
  }
}

/* Dimensions: Mobile on Rotate */
@media only screen and (min-width: 667px){
  .header{
    width: 100%;
    height: 70px;
}

.header img{
  margin-left: 30px;
  margin-top: 15px;
  width: 15%;
  height: 70%;
}

.social-handles .icon{
  width: 29px;
  height: 29px;
}

.icon-facebook{
  margin-left: 45%;
  
  display: inline;
}

.icon-github{
  display: inline;
  margin-left: 3%;
  font-size: 9px;
}

.icon-gitlab{
  display: inline;
  margin-left: 5%;
  font-size: 10px;
}

.icon-youtube {
  display: inline;
  font-size:6.8px;
}
}

/* Dimensions: Smart Phone */
  @media only screen and (min-width: 768px){
    .header img{
      margin-left: 30px;
      margin-top: 15px;
      width: 25%;
      height: 50%;
    }

    .header{
      height: 170px;
    }

    .icon-facebook{
      margin-left: 42%;
    }
    
    .icon-github{
      font-size: 22px;
    }
    
    .icon-gitlab{
      font-size: 24px;
    }
    
    .icon-youtube {
      font-size: 16.5px;
    }

    .social-handles .icon{
      margin: 10px;
      width: 70px;
      height: 70px;
      line-height: 70px;
      font-size: 30px;
    }
  }

  /* Dimensions: Window */
@media only screen and (min-width: 1024px){
  .header img{
    margin-left: 5%;
    margin-top: 20px;
    width: 25%;
    height: 70%;
  }
}

/* Dimensions: Window */
@media only screen and (min-width: 1280px){
  .header{
    height: 150px;
}

.header img{
  margin-left: 120px;
  margin-top: 20px;
  width: 15%;
  height: 40%;
}

.social-handles{
  margin-right: 120px;
  margin-top: 30px;
}
}

/* Dimensions: Mac OSX */
@media  only screen and (min-width: 1080px) {
  .header{
    height: 150px;
}

.header img{
  margin-left: 150px;
  margin-top: 20px;
  width: 20%;
  height: 70%;
}

.social-handles{
  margin-right: 150px;
  margin-top: 30px;
}

.social-handles .icon{
  margin: 10px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 30px;
}

.icon-youtube {
  font-size: 17px;
}
}

/* Dimensions: Mac OSX  */
@media  only screen and (min-width: 1920px) {
  .header img{
    margin-left: 150px;
    margin-top: 20px;
  width: 25%;
  height: 70%;
  }  
}
