@media (min-width: 1280px){
.side-bar{
  background-color: rgba(0, 0, 0, 0.096);
  text-decoration: none;
  position: absolute;
  width: 200px;
  height: 630px;
}


.logo{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 18px;
  width: 150px;
}

.menu{
  padding-bottom: 30px;
}

.menu a {
  margin: 30px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: block;
  justify-content: space-between;
}

.hr{
  margin-bottom: 15px;
}

.social-handles{
  text-align: center;
}

.fa {
  padding: 8px 20px 5px 20px;
  font-size: 30px;
  font-weight: bolder;
  border-radius: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}
}

@media only screen and (min-width: 414px) and (max-width: 768px) {
  .side-bar{
    background-color: rgba(0, 0, 0,);
    text-decoration: none;
    position: absolute;
    width: 260px;
    height: 30px;
  }

  .logo{
    margin-top: 5px;
    margin-left: 10px;
    position: absolute;
    width: 50px;
  }

  hr{
    width: 0px;
    border-width: 0px;
  }

  .hr{
    border-width: 0px;
  }

  .menu{
    margin-top: 5px;
    margin-left: 130px;
    display: flex;
  }

  .menu a {
    margin: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding: 5px;
    font-size: 10px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  .social-handles{
    margin-top: 300px;
  }

  .fa {
    padding: 8px 20px 5px 20px;
    font-size: 30px;
    font-weight: bolder;
    border-radius: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  
  
}