.title{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
    color: white;
}

.title h1{
    font-size: 18px;
}

.title p{
    padding: 8px;
    font-size: 14px;
}

/* Dimensions: Tablet */
@media only screen and (min-width: 768px){
    .title{
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        color: white;
    }

    .title h1{
        font-size: 30px;
    }

    .title p{
        padding: 15px;
        font-size: 20px;
    }
}

/* Dimensions: Window */
@media only screen and (min-width: 1024px){}

/* Dimensions: Window */
@media only screen and (min-width: 1280px){
    .title{
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        color: white;
    }

    .title h1{
        font-size: 50px;
    }

    .title p{
        padding: 20px;
        font-size: 30px;
    }
}

/* Dimensions: Mac OSX */
@media  only screen and (min-width: 1080px) {
    .title{
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
        color: white;
    }

    .title h1{
        font-size: 40px;
    }

    .title p{
        padding: 15px;
    }
}

/* Dimensions: Mac OSX */
@media  only screen and (min-width: 1920px) {}